@charset
"utf-8"
;

/* adjustments */
.short-description{
    margin: 0 0 1.5em;
}

h1.file {
    margin: 0px !important;
    top: 0px;
}

div#content {
    padding: 10px;
}

body, html {
    margin: 0px;
    padding: 0px;
}

#db-menu
{
    display: none;
}

div#file-description {
    padding-top: 0px;
}

.ui-widget {
    font-size: 0.8em;
}

div.section {
    margin: 5px;
    padding: 5px;
    padding-top: 0px;
    margin-bottom: 15px;
    border: 1px solid silver;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 218px;
    word-wrap: break-word;
    font-size: 0.8em;
}

div.section h1 {
    border-bottom: 1px solid #5E8CDF;
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 5px;
    color: #5E8CDF;
}

ul#menu {
    width: auto;
    height: auto;
    background: transparent;
    font-size: 1.0em;
}

ul#menu li {
    float: none;
    display: inherit;
    border: none;
}

ul#menu li a, .ui-widget-content a {
    color: #0087D5;
}

/* < general styles */
html, body {
    background: white;
}

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
}

td, th {
    text-align: left;
    vertical-align: top;
    font-weight: normal;
}

img {
    border: 0;
    vertical-align: top;
}

ul, ol {
    list-style: none;
}

address {
    font-style: normal;
}

sup {
    vertical-align: top;
}

body {
    color: #444;
}

a {
    color: #0087d5;
    text-decoration: none;
    outline: 0;
}

a:hover {
    text-decoration: underline;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.clearer {
    clear: both;
    font-size: 1px;
    line-height: 0;
    height: 0;
    overflow: hidden;
}

.toleft {
    text-align: left !important;
}

.tocenter {
    text-align: center !important;
}

.toright {
    text-align: right !important;
}

/* < forms styles */
form dl {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

form {
    display: inline;
}

fieldset {
    border: 0;
}

legend {
    display: none;
}

textarea {
    overflow: hidden;
}

input, select, textarea, button {
    font: 1em Tahoma;
    color: #444444;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #444;
}

.list-image {
    float: left;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 20px;
}

#contact-email, #contact-content, #query {
    padding-left: 3px;
}

form#searchForm dd {
    width: 100%;
    float: bottom;
}

input.btn_submit {
    cursor: pointer;
    height: 30px;
    margin-top: 10px;
    float: bottom;
    margin-left: 0px;
    background-color: #cce5ea;
    font: 1.1em Tahoma;
    text-transform: uppercase;
    color: #444;
    align: right;
}

label {
    display: block;
    vertical-align: bottom;
    color: #444;
}

label.required {
    background: url(http://framework.zend.com/images/req-asterisk.gif) left;
    background-repeat: no-repeat;
    padding-left: 26px;
}

.errors {
    color: #ff3333;
    font-weight: bold;
}

.field {
    border: 1px solid #d8d8d8;
    background-color: #fff;
    padding: 1px 3px 2px;
    overflow: hidden;
}

.field input, .field textarea {
    float: left;
    border: 0;
    background: transparent;
    width: 100%;
}

.chbr {
    width: 1.1em;
    height: 1.1em;
    margin-right: 5px;
    vertical-align: middle;
}

/* forms styles > */
/* general styles > */

#page {
    min-width: 1003px;
}

/* < top styles */
#top {
    background: #f2f2f2 url(http://framework.zend.com/images/wrapper-header.png) left top repeat-x;
    height: 66px;
}

#top .top {
    margin: 0 auto;
    width: 973px;
    text-align: left;
}

#top h1.logo {
    float: left;
    width: 173px;
    height: 41px;
    padding: 1px;
    background: url(http://framework.zend.com/images/logo.png) left top no-repeat;
    margin: 10px 0 0;
    text-indent: -3000px;
    overflow: hidden;
}

#top h1.logo a {
    display: block;
    width: 123px;
    height: 23px;
}

#top-nav {
    float: left;
}

#top-nav li {
    float: left;
    height: 23px;
    font: bold small-caps 0.9em/1 Arial, Helvetica, sans-serif;
    color: #979797;
    position: relative;
    z-index: 20;
}

#top-nav li a {
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    color: #fff;
}

#top-nav li a.level1:hover {
    background-color: #008ebe;
    color: #fff;
}

#top-nav li.current a.level1,
#top-nav li.over a.level1 {
    background-color: #008ebe;
    color: #fff;
}

#top-nav li ul {
    display: none;
    position: absolute;
    top: 23px;
    left: 0;
    width: 198px;
    background-color: #f9fbfc;
    border: 1px solid #b9c4c6;
    border-bottom: 2px solid #979797;
    padding-bottom: 3px;
}

#top-nav li li {
    float: none;
    height: auto;
    font-size: 1.09em;
    border-bottom: 1px solid #d4e0e3;
    margin: 0 10px;
}

#top-nav li li a {
    font-weight: normal;
    padding: 10px 0 8px;
    color: #008dbb;
}

#top-nav li li a:hover {
    font-weight: normal;
    background: none;
    color: #555;
}

#top-nav li li.last {
    border-bottom: 0;
}

#top-nav li.over ul {
    display: block;
}

#top-search {
    float: right;
    width: 339px;
    background: url(http://framework.zend.com/images/bkg_search.gif) left top repeat-x;
    height: 51px;
}

#top-search fieldset {
    padding: 8px 16px 0;
}

#top-search .field {
    float: left;
    border: 0;
    background: #fff url(http://framework.zend.com/images/bkg_search-field.gif) left top no-repeat;
    width: 253px;
    height: 30px;
    padding: 0 6px;
    margin-top: 2px;
    font-size: 1.2em;
}

#top-search .field input {
    margin: 8px 0;
}

#top-search .btn_go {
    float: left;
    margin-left: 9px;
    width: 33px;
    height: 33px;
    border: none;
}

#top .behind-the-site {
    position: absolute;
    right: 0pt;
    top: 0pt;
}

/* < header styles */
#header {
    background: url(http://framework.zend.com/images/bkg_header.jpg) left top repeat-x;
}

#header .banner {
    margin: 0 auto;
    width: 994px;
    height: 255px;
    background: url(http://framework.zend.com/images/bkg_header.jpg) left top no-repeat;
    position: relative;
}

#header .banner_zf_logo {
    margin: 0 auto;
    width: 429px;
    height: 255px;
    background: url(http://framework.zend.com/images/banner_zf_logo_v1_11.png) left top no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
}

#header .banner_announcement {
    margin: 0 auto;
    width: 557px;
    height: 170px;
    background: url(http://framework.zend.com/images/banner_announcement.jpg) left top no-repeat;
    position: absolute;
    top: 0px;
    left: 429px;
}

#header .banner_download {
    margin: 0 auto;
    width: 557px;
    height: 85px;
    background: url(http://framework.zend.com/images/banner_download.jpg) left top no-repeat;
    position: absolute;
    top: 170px;
    left: 429px;
}

/* #header .banner_announcement
#header .banner_download */
/* #header .announcement { width:478px; height:112px; position:absolute; top:29px; left:410px; background:url(http://framework.zend.com/images/dojo_announcement.jpg) left top no-repeat; text-indent:-50000px; overflow:hidden; } */
/* #header .download { width:576px; height:59px; position:absolute; right:4px; bottom:58px; } */
/* #header .download .btn_download { width:576px; height:59px; background:url(http://framework.zend.com/images/btn_download.jpg) left top no-repeat; }
#header .download .btn_download .link-download { display:block; text-indent:-5000px; width:576px; height:59px; overflow:hidden; }
#header .download .types { position:absolute; top:11px; left:308px; font-size:1.2em; font-weight:bold; line-height:1.17; color:#000; }
#header .download .types a { text-decoration:underline; color:#fff; }
#header .download .types a:hover { text-decoration:none; }
#header .download .version-seal { position:absolute; right:12px; top:-54px; width:136px; height:139px; background:url(http://framework.zend.com/images/version-seal.jpg) left top no-repeat; text-indent:-5000px; overflow:hidden; }*/
/* header styles > */

#main-holder {
    background: url(http://framework.zend.com/images/bkg_body.gif) left bottom repeat;
}

#main-holder .main-holder-bottom {
    background: url(http://framework.zend.com/images/bkg_body-bottom.gif) left bottom repeat-x;
    padding-bottom: 45px;
}

/* < Index page */
.box {
    margin: 0 auto;
    width: 968px;
    background: url(http://framework.zend.com/images/bkg_box-shadow.png) left top repeat-y;
    text-align: left;
}

.box .box-in {
    background: url(http://framework.zend.com/images/bkg_box.gif) left bottom no-repeat;
    padding: 0 6px 0 5px;
    min-height: 443px;
}

.box-bottom {
    margin: 0 auto;
    width: 968px;
    height: 19px;
    background: url(http://framework.zend.com/images/bkg_box-bottom.png) left top no-repeat;
}

.box .col {
    float: left;
    width: 319px;
}

.box .col-blue,
.box .col-green,
.box .col-yellow {
    padding: 9px 23px 0;
}

.box h2 {
    font-size: 2.6em;
    margin-bottom: 3px;
}

.box h3 {
    font-size: 1.4em;
    font-weight: bold;
    color: #0398ca;
}

.box h3 a {
    color: #0398ca;
}

.box p.tagline {
    font-size: 1.5em;
    line-height: 1.2;
}

.box .rss-box {
    padding: 6px 11px;
    font-size: 1.1em;
    line-height: 1.55;
    min-height: 7.5em;
    margin: 10px 0 17px;
}

.box .rss-box .rss-icon {
    float: right;
    width: 12px;
    height: 12px;
    margin-right: -5px;
    overflow: hidden;
}

.box .rss-box li {
    background: left .9em no-repeat;
    padding: 3px 0 4px 14px;
}

.box .rss-box li.last {
    border-bottom: 0 !important;
}

.box .col-blue h2 {
    color: #166e8b;
}

.box .col-blue p.tagline {
    color: #318ba8;
}

.box .col-blue .rss-box {
    border: 2px solid #cfdae4;
    background-color: #f4f9fc;
    color: #00769e;
}

.box .col-blue .rss-box .rss-icon {
    background: url(http://framework.zend.com/images/icon_rss-blue.gif) left top no-repeat;
}

.box .col-blue .rss-box li {
    background-image: url(http://framework.zend.com/images/icon_arrow-blue.gif);
    border-bottom: 1px solid #d9e3e9;
}

.box .col-blue .rss-box a {
    color: #00769e;
}

.box .col-green h2 {
    color: #619400;
}

.box .col-green p.tagline {
    color: #5c7b23;
}

.box .col-green .rss-box {
    border: 2px solid #d3e4cf;
    background-color: #f4fff2;
    color: #537e01;
}

.box .col-green .rss-box .rss-icon {
    background: url(http://framework.zend.com/images/icon_rss-green.gif) left top no-repeat;
}

.box .col-green .rss-box li {
    background-image: url(http://framework.zend.com/images/icon_arrow-green.gif);
    border-bottom: 1px solid #d7e9d4;
}

.box .col-green .rss-box a {
    color: #537e01;
}

.box .col-yellow h2 {
    color: #f29300;
}

.box .col-yellow p.tagline {
    color: #a65200;
}

.box .col-yellow .rss-box {
    border: 2px solid #e7dac5;
    background-color: #fdf9f1;
    color: #c26400;
}

.box .col-yellow .rss-box .rss-icon {
    background: url(http://framework.zend.com/images/icon_rss-yellow.gif) left top no-repeat;
}

.box .col-yellow .rss-box li {
    background-image: url(http://framework.zend.com/images/icon_arrow-yellow.gif);
    border-bottom: 1px solid #e0d5c2;
}

.box .col-yellow .rss-box a {
    color: #c26400;
}

.box .items li {
    padding: 0 0 13px 70px;
    margin-bottom: 14px;
    background: left top no-repeat;
    border-bottom: 1px solid #d5d5d5;
    min-height: 53px;
}

.box .items li.last {
    border-bottom: 0;
}

.box .items li p {
    font-size: 1.2em;
    line-height: 1.5;
    padding-top: 3px;
}

.box .items li.item1 {
    background-image: url(http://framework.zend.com/images/icon_whyzf.png);
}

.box .items li.item2 {
    background-image: url(http://framework.zend.com/images/icon_case-studies.gif);
}

.box .items li.item3 {
    background-image: url(http://framework.zend.com/images/icon_support.png);
}

.box .items li.item4 {
    background-image: url(http://framework.zend.com/images/icon_partners.png);
}

.box .items li.item5 {
    background-image: url(http://framework.zend.com/images/icon_quickstart.png);
}

.box .items li.item6 {
    background-image: url(http://framework.zend.com/images/icon_videos.png);
}

.box .items li.item7 {
    background-image: url(http://framework.zend.com/images/icon_documentation.png);
}

.box .items li.item8 {
    background-image: url(http://framework.zend.com/images/icon_training.png);
}

.box .items li.item9 {
    background-image: url(http://framework.zend.com/images/icon_contributors-guide.png);
}

.box .items li.item10 {
    background-image: url(http://framework.zend.com/images/icon_issue.gif);
}

.box .items li.item11 {
    background-image: url(http://framework.zend.com/images/icon_wiki.png);
}

.box .items li.item12 {
    background-image: url(http://framework.zend.com/images/icon_continuous_integration.png);
}

.box .items li.item13 {
    background-image: url(http://framework.zend.com/images/win-ipod-touch-survey-icon.png);
}

/* Index page > */

/* < Internal pages styles */
.internal-page #main-holder {
    background: #fff;
}

.internal-page #top-search {
    width: 280px;
}

.internal-page #top-search .field {
    width: 194px;
}

.content {
    padding: 10px;
    line-height: 1.5;
    text-align: left;
}

.content .content-in {
    padding: 35px 0 120px;
}

.content .heading {
    padding-bottom: 10px;
}

.content h2.heading-internal {
    clear: both;
    font-size: 2.5em;
    color: #008dbb;
}

.content h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 4px;
}

.content h3 {
    font-size: 1.25em;
    font-weight: bold;
    padding-bottom: 4px;
}

.content h4 {
    font-size: 1.083em;
    font-weight: bold;
    padding-bottom: 4px;
}

.content h5 {
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 4px;
}

.content p {
    padding-bottom: 1em;
}

.content p.first {
    font-size: 1.17em;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.content .ol {
    list-style: decimal outside;
    padding: 0 0 1em 25px;
}

.content .ul {
    list-style: disc outside;
    padding: 0 0 1em 20px;
}

.content .ul span {
    font-weight: bold;
}

.content .highlight1 {
    font-weight: bold;
    font-style: italic;
}

.content .dotted-line {
    font-size: 1px;
    line-height: 0;
    height: 7px;
    background: url(http://framework.zend.com/images/bkg_dotted-line.gif) left top repeat-x;
}

.content .left-side {
    float: left;
    width: 646px;
}

.content .sub-nav ul {
    float: left;
    width: 100%;
    background-color: #f4f4f4;
    margin-bottom: 25px;
}

.content .sub-nav li {
    float: left;
    font-weight: bold;
    padding: 4px 0 4px 10px;
    position: relative;
    z-index: 19;
}

.content .sub-nav li .arrow {
    display: none;
    width: 10px;
    height: 8px;
    background: url(http://framework.zend.com/images/bkg_sub-nav.gif) left top no-repeat;
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -7px;
    font-size: 0;
    line-height: 0;
}

.content .sub-nav li .divider {
    color: #b7b7b7;
    margin: 0 0 0 0px;
}

.content .sub-nav a {
    margin-right: 10px;
    color: #008dbb;
}

.content .sub-nav .current .arrow {
    display: block;
}

.content .sub-nav .current a {
    text-decoration: none;
    color: #749b2a;
    cursor: default;
}

.content table.dl-packages {
    border-collapse: separate;
    border-spacing: 20px;
}

.content td.dl-package-title {
    width: 100px;
    height: 60px;
    align: center;
    text-align: center;
    vertical-align: middle;
    font-size: 1.17em;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.content td.dl-package-def {
    vertical-align: middle;
}

.content .list-features {
    border: 1px solid #ebf1e0;
    background-color: #f4f8ed;
    padding: 12px 10px;
    margin-bottom: 1em;
    overflow: hidden;
}

.content .list-features li {
    float: left;
    font-size: 1.083em;
    font-weight: bold;
    line-height: 1.31;
    color: #3b5901;
}

.content .list-features li img {
    float: left;
    margin-right: 13px;
}

.content .list-features li.feature1 {
    width: 230px;
}

.content .list-features li.feature2 {
    width: 155px;
}

.content .list-features li.feature3 {
    width: 190px;
}

.content .right-nav {
    float: right;
    width: 280px;
}

.content .right-nav .block {
    border: 1px solid #dde8ed;
    margin-bottom: 17px;
}

.content .right-nav .block h2 {
    font-size: .92em;
    font-weight: bold;
    line-height: 1;
    background-color: #e3eaed;
    border-bottom: 1px solid #f6fbfd;
    padding: 5px 10px 6px;
    text-transform: uppercase;
    color: #222;
}

.content .right-nav .block .block-in {
    background: #f0f6f8;
    padding: 10px;
}

.content .right-nav .block .nav li {
    padding-bottom: 3px;
}

.content .right-nav .block a {
    color: #0088b5;
}

/* Internal pages styles > */

/* < Search styles */
div#site-search-form {
    padding: 5px 0px 5px 0px;
    background: url(http://framework.zend.com/images/req-legend.gif) top right;
    background-repeat: no-repeat;
}

div.search ul.ul li {
    background: url(http://framework.zend.com/images/icon_arrow-blue.gif) left .9em no-repeat;
    padding: 3px 0 1em 14px;
}

.searchForm li.element {
    width: 100%;
}

#searchForm input#manual-search {
    vertical-align: middle;
}

#searchForm div.clearer {
    font-size: 12px;
    line-height: 1em;
    height: 1em;
}

ul.pager {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 15px 0px 0px 25px;
}

ul.pager li {
    float: left;
    margin-left: 3px;
    border: 1px solid #ced2d2;
}

ul.pager li a {
    text-decoration: none;
    padding: 2px 6px;
}

ul.pager li a:hover {
    color: #fff;
    border-color: #2B55AF;
    background: #37464f none repeat scroll 0%;
}

ul.pager li.current {
    font-size: 107%;
    font-weight: bold;
    border: 0pt none;
    color: #37464f;
    padding: 1px 6px;
}

/* Search styles > */

/* < Contact form styles */
textarea#contact-content {
    overflow: auto;
}

dl.zend_form {
    width: 80%;
    background: url(http://framework.zend.com/images/req-legend.gif) top right;
    background-repeat: no-repeat;
}

/* Contact form styles */

/* < Error page styles */
pre.error {
    overflow: auto;
}

/* Error page styles > */

/* < footer styles */
#footer {
    background: #f2f2f2 url(http://framework.zend.com/images/bkg_footer.gif) left top repeat-x;
    min-height: 73px;
}

#footer .footer {
    margin: 0 auto;
    width: 956px;
    padding: 15px 0 0;
    text-align: left;
}

#footer .footer-nav li {
    float: left;
    font-size: 1.2em;
    line-height: 1.5;
    color: #008dbb;
}

#footer .footer-nav li .divider {
    color: #868686;
    margin: 0 8px;
}

#footer .footer-nav li a {
    color: #008dbb;
}

#footer address {
    float: right;
    font-size: 1.1em;
    line-height: 1.64;
    text-align: right;
    color: #444;
}

#footer address .logo_zend {
    width: 100px;
    height: 38px;
    background: url(http://framework.zend.com/images/logo_zend.gif) left top no-repeat;
    text-align: center;
}

#footer address .logo_varien {
    width: 14px;
    height: 15px;
    background: url(http://framework.zend.com/images/logo_varien.gif) left top no-repeat;
}

#footer address a {
    color: #444;
}

#footer address a:hover {
    color: #008dbb;
    text-decoration: none;
}

#footer address a:hover .logo_varien {
    background-position: left -15px;
}

/* footer styles > */

#release-notes {
    margin-bottom: 1em;
}

/* Hide nodes */
.hidden {
    visibility: hidden;
    display: none;
}

.sub-page-main-header-latest-release-of-zf {
    background-image: url(http://framework.zend.com/images/header/sub-page-main-header-latest-release-of-zf.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 351px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}

.sub-page-main-header-latest-release-of-zf h1, .sub-page-main-header-latest-release-of-zf h2, .sub-page-main-header-latest-release-of-zf h3, .sub-page-main-header-latest-release-of-zf h4 {
    display: none
}

.front-page-left-header-make-the-choice {
    background-image: url(http://framework.zend.com/images/header/front-page-left-header-make-the-choice.png);
    background-repeat: no-repeat;
    height: 23px;
    width: 247px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}

.front-page-left-header-make-the-choice h1, .front-page-left-header-make-the-choice h2, .front-page-left-header-make-the-choice h3, .front-page-left-header-make-the-choice h4 {
    display: none
}

.sub-page-main-header-search-the-manual {
    background-image: url(http://framework.zend.com/images/header/sub-page-main-header-search-the-manual.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 334px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}

.sub-page-main-header-search-the-manual h1, .sub-page-main-header-search-the-manual h2, .sub-page-main-header-search-the-manual h3, .sub-page-main-header-search-the-manual h4 {
    display: none
}

.sub-page-main-header-application-error {
    background-image: url(http://framework.zend.com/images/header/sub-page-main-header-application-error.png);
    background-repeat: no-repeat;
    height: 37px;
    width: 304px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}

.sub-page-main-header-application-error h1, .sub-page-main-header-application-error h2, .sub-page-main-header-application-error h3, .sub-page-main-header-application-error h4 {
    display: none
}

.sub-page-main-header-api-documentation {
    background-image: url(http://framework.zend.com/images/header/sub-page-main-header-api-documentation.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 345px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
    margin-top: 80px;
}

.sub-page-main-header-api-documentation h1, .sub-page-main-header-api-documentation h2, .sub-page-main-header-api-documentation h3, .sub-page-main-header-api-documentation h4 {
    display: none
}

.sub-page-main-header-zend-framework-user-groups {
    background-image: url(http://framework.zend.com/images/header/sub-page-main-header-zend-framework-user-groups.png);
    background-repeat: no-repeat;
    height: 37px;
    width: 535px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}

.sub-page-main-header-zend-framework-user-groups h1, .sub-page-main-header-zend-framework-user-groups h2, .sub-page-main-header-zend-framework-user-groups h3, .sub-page-main-header-zend-framework-user-groups h4 {
    display: none
}

.front-page-middle-sub-header-what-you-need-to-get-up-to-speed {
    background-image: url(http://framework.zend.com/images/header/front-page-middle-sub-header-what-you-need-to-get-up-to-speed.png);
    background-repeat: no-repeat;
    height: 17px;
    width: 269px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}

.front-page-middle-sub-header-what-you-need-to-get-up-to-speed h1, .front-page-middle-sub-header-what-you-need-to-get-up-to-speed h2, .front-page-middle-sub-header-what-you-need-to-get-up-to-speed h3, .front-page-middle-sub-header-what-you-need-to-get-up-to-speed h4 {
    display: none
}

.sub-page-main-header-programmers-reference-guide {
    background-image: url(http://framework.zend.com/images/header/sub-page-main-header-programmers-reference-guide.png);
    background-repeat: no-repeat;
    height: 37px;
    width: 552px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}

.sub-page-main-header-programmers-reference-guide h1, .sub-page-main-header-programmers-reference-guide h2, .sub-page-main-header-programmers-reference-guide h3, .sub-page-main-header-programmers-reference-guide h4 {
    display: none
}

.sub-page-main-header-zend-amf-downloads {
    background-image: url(http://framework.zend.com/images/header/sub-page-main-header-zend-amf-downloads.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 391px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}

.sub-page-main-header-zend-amf-downloads h1, .sub-page-main-header-zend-amf-downloads h2, .sub-page-main-header-zend-amf-downloads h3, .sub-page-main-header-zend-amf-downloads h4 {
    display: none
}

.front-page-left-sub-header-standardize-your-php-practices {
    background-image: url(http://framework.zend.com/images/header/front-page-left-sub-header-standardize-your-php-practices.png);
    background-repeat: no-repeat;
    height: 17px;
    width: 241px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}

.front-page-left-sub-header-standardize-your-php-practices h1, .front-page-left-sub-header-standardize-your-php-practices h2, .front-page-left-sub-header-standardize-your-php-practices h3, .front-page-left-sub-header-standardize-your-php-practices h4 {
    display: none
}

.front-page-middle-header-get-started {
    background-image: url(http://framework.zend.com/images/header/front-page-middle-header-get-started.png);
    background-repeat: no-repeat;
    height: 23px;
    width: 166px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}

.front-page-middle-header-get-started h1, .front-page-middle-header-get-started h2, .front-page-middle-header-get-started h3, .front-page-middle-header-get-started h4 {
    display: none
}

.front-page-right-header-give-back {
    background-image: url(http://framework.zend.com/images/header/front-page-right-header-give-back.png);
    background-repeat: no-repeat;
    height: 23px;
    width: 139px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}

.front-page-right-header-give-back h1, .front-page-right-header-give-back h2, .front-page-right-header-give-back h3, .front-page-right-header-give-back h4 {
    display: none
}

.sub-page-main-header-page-not-found {
    background-image: url(http://framework.zend.com/images/header/sub-page-main-header-page-not-found.png);
    background-repeat: no-repeat;
    height: 37px;
    width: 265px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}

.sub-page-main-header-page-not-found h1, .sub-page-main-header-page-not-found h2, .sub-page-main-header-page-not-found h3, .sub-page-main-header-page-not-found h4 {
    display: none
}

.sub-page-main-header-zend-info-card-downloads {
    background-image: url(http://framework.zend.com/images/header/sub-page-main-header-zend-info-card-downloads.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 464px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}

.sub-page-main-header-zend-info-card-downloads h1, .sub-page-main-header-zend-info-card-downloads h2, .sub-page-main-header-zend-info-card-downloads h3, .sub-page-main-header-zend-info-card-downloads h4 {
    display: none
}

.sub-page-main-header-simple-cloud-api-downloads {
    background-image: url(http://framework.zend.com/images/header/sub-page-main-header-simple-cloud-api-downloads.png);
    background-repeat: no-repeat;
    height: 37px;
    width: 511px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}

.sub-page-main-header-simple-cloud-api-downloads h1, .sub-page-main-header-simple-cloud-api-downloads h2, .sub-page-main-header-simple-cloud-api-downloads h3, .sub-page-main-header-simple-cloud-api-downloads h4 {
    display: none
}

.sub-page-main-header-zend-gdata-downloads {
    background-image: url(http://framework.zend.com/images/header/sub-page-main-header-zend-gdata-downloads.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 411px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}

.sub-page-main-header-zend-gdata-downloads h1, .sub-page-main-header-zend-gdata-downloads h2, .sub-page-main-header-zend-gdata-downloads h3, .sub-page-main-header-zend-gdata-downloads h4 {
    display: none
}

.front-page-right-sub-header-because-it-just-feels-good {
    background-image: url(http://framework.zend.com/images/header/front-page-right-sub-header-because-it-just-feels-good.png);
    background-repeat: no-repeat;
    height: 17px;
    width: 200px;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
    clear: both;
}

.front-page-right-sub-header-because-it-just-feels-good h1, .front-page-right-sub-header-because-it-just-feels-good h2, .front-page-right-sub-header-because-it-just-feels-good h3, .front-page-right-sub-header-because-it-just-feels-good h4 {
    display: none
}

div.section {
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    width: auto;
}

div.section h1 {
    border-bottom: 1px solid #F6FBFD;
    color: #222;
    font-size: 0.92em;
    font-weight: bold;
    line-height: 1;
    padding: 5px 10px 6px;
    text-transform: uppercase;
    margin: 0 0px;
    margin-bottom: 10px;
}

td#sidebar
{
    padding-top: 0px;
}

#sidebar ul li span
{
    display: inline-block;
    height: 16px;
}